 <style>
  a {
   color: #{{ site.linkfarge }};
  }
  
  .anchorjs-link{
   display: none;
  }
  
  body{
    background-image: url("{{ site.bakgrunn }}");
    background-color:#{{ site.bakgrunn-farge }};
    color:#{{ site.sekundaerfarge }};
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Open Sans', sans-serif;
  }
  
 .markdown-body{
   font-family: 'Open Sans', sans-serif;
  }
  
  #top-box{
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 10px;
    padding-top:70px;
    background-image: url("https://github.com/uit-econ/hovedside-master/blob/main/assets/img/header-bg.jpg?raw=true");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}
  
  #top-box:after{
       background-color: #{{ site.topbox-farge }};
  }
  
  
  #content-box {
    padding: 20px 50px 20px 50px;
    background-color:#{{ site.contentbox-farge }};
    box-shadow:{{ site.contentbox-skygge }} ;
    
   }
  
  #uitlogo{
    width: 250px;
    margin-left: 20px;
    margin-right: auto;
    padding-bottom: 0px;
    background-color: #{{ site.topbox-farge }};
    display:block;
    margin-top:100px
    
      
    }


  
.fagtittler{
     text-align:left;
     margin-left: 25px;
  }

 #fagtittel{
  font-size:32px;
  font-weight:700;
  color:white;
  padding-top:130px;
 }
 
 #fagundertittel{
  margin-top:-20px;
  font-size:20px;
  margin-bottom:60px;
  color:white;
 }

h1{
  color:#{{ site.primaerfarge }};
  }  

h2{
  color:#{{ site.primaerfarge }};
  }

h3{
  color:#{{ site.primaerfarge }};
  }  

h4{
  color:#{{ site.primaerfarge }};
  }
  
h5{
  color:#{{ site.primaerfarge }};
  }

h6{
  color:#{{ site.primaerfarge }};
  }
  
</style>
